.desktop-top-container,
.mobile-top-container,
.top-container,
.top-card-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100%;
  min-height: 305px;
}
.failure-bg-container {
  background-color: #131313;
}
.top-card-failure-container {
  padding-left: 165px;
  padding-right: 165px;
  background-color: #131313;
}
.desktop-top-card-content-container,
.mobile-top-card-content-container,
.top-loading-container,
.top-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 165px;
  padding-right: 165px;
  width: 100vw;
  height: 100%;
  min-height: 300px;
  margin: 0px;
  border-radius: 16px;
}
.title-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 62px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 24px;
}
.movie-overview {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin: 0px;
  margin-bottom: 24px;
  color: #ffffff;
}
.play-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 74px;
  height: 40px;
  background: #ffffff;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #171f46;
  border: none;
  cursor: pointer;
  margin-bottom: 25px;
}
.mobile-top-container {
  display: none;
}
.top-loading-container {
  height: 300px;
}
@media screen and (max-width: 992px) {
  .desktop-top-container {
    display: none;
  }
  .mobile-top-container,
  .top-container {
    max-height: 100%;
    min-height: 400px;
    display: flex;
  }
  .mobile-top-card-content-container,
  .top-loading-container,
  .top-failure-container {
    display: flex;
    width: 100vw;
    max-height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 24px 32px 24px 32px;
    border-radius: 16px;
  }
  .top-loading-container,
  .top-failure-container {
    min-height: 213px;
  }
  .title-heading {
    font-size: 36px;
    line-height: 47px;
  }
  .movie-overview {
    font-size: 16px;
    line-height: 21px;
  }
  .play-btn {
    width: 76px;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
  }
}

.top-container {
  background-color: #181818;
}
.top-loading-container,
.top-failure-container {
  background-color: #181818;
  padding-top: 32px;
  width: 100vw;
  padding-bottom: 48px;
  border-radius: 16px;
}
.products-loader-container {
  width: 100%;
  max-height: 466px;
  height: 100%;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-img {
  width: 44px;
  height: 38px;
  margin-bottom: 22px;
}
.failure-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}
.try-again-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 16px;
  width: 94px;
  height: 32px;
  background: #ffffff;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 992px) {
  .failure-img {
    width: 22px;
    height: 19px;
    margin-bottom: 15px;
  }
  .failure-description {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
  }
  .try-again-btn {
    font-size: 12px;
    line-height: 24px;
  }
}
.slick-bottom-container {
  background-color: #131313;
  margin: 0px;
  height: 100%;
  padding: 48px 165px 0px 165px;
}
.Home-videos-type {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  margin-bottom: 24px;
  margin-left: 15px;
}
.slick-container,
.slick-loading-container {
  height: 170px;
  width: 100%;
  margin-bottom: 32px;
}
.slick-item {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.movie-image {
  border-radius: 8px;
  width: 90%;
  width: 300px;
  height: 170px;
  cursor: pointer;
  margin: 0px 15px;
}

.slick-loading-container {
  background-color: #0d0d0d;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 24px;
}
.bottom-mov-card {
  margin-bottom: 96px;
}
@media screen and (max-width: 992px) {
  .Home-videos-type {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 12px;
  }
  .slick-item {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .slick-container,
  .slick-loading-container {
    height: 90px;
    margin-bottom: 24px;
    height: 100%;
    padding: 24px;
  }
  .slick-container {
    padding: 0px;
  }
  .bottom-mov-card {
    margin-bottom: 64px;
  }
  .slick-bottom-container {
    height: 100%;
    width: 100vw;
    padding: 24px 32px 0px 32px;
  }
  .movie-image {
    min-width: 90px;
    min-height: 64px;
    max-width: 120px;
    max-height: 90px;
    margin: 0px 15px;
  }
}
@media screen and (max-width: 992px) {
  .top-loading-container {
    height: 212px;
  }
  .top-card-failure-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.top-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  width: 100%;
}
